:root {
    --c1: rgb(245,245,245);
    --c2: #28282B;
    --c3: #E3E3E3;
}

main{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}
h1{
    color:var(--c2);
    font-family: "Space Grotesk";
    font-optical-sizing: auto;
    font-weight: 400;
}
form{
    display: flex;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    min-width: 15%;
    height: 200px;
    padding: 16px 24px;
    border: 1.5px solid black;
    border-radius: 8px;
}
.login-btn{
    cursor: pointer;
    align-self: center;
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
    padding: 8px 16px;
    max-width: 150px; 
    background-color: var(--c3);
    border: 1.5px solid black;
    border-radius: 8px;
    transition: all 0.05s ease-in-out;
}
.login-btn:hover{
    transform: scale(1.05);
}
.other-link{
    font-family: "Montserrat";
    font-size: 16px;
}