body{
    background-color: var(--c1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color:var(--c2);
    font-family: "Space Grotesk";
    font-optical-sizing: auto;
    font-weight: 400;
}
header{
    height: 10vh;
    max-width: 100vw;
    padding: 0px 20px;
}
main{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.logIn-area{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    background-color: whitesmoke;
    padding: 8px 24px;
    border: 1.5px solid black;
    border-radius: 8px;
    min-width: 600px;;
    max-height: 500px;
}
form > div {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
}
form > .rad-gender{
    display: flex;
    justify-content: space-between;
}
.rad-gender > h2{
    font-weight: 400;
    font-size: 18px;
    padding: 0;
    margin: 0;;
}
.rad-gender > div {
    display: flex;
    justify-content: space-between;
}
.rad-gender > div > div {
    margin: 0px 16px;
}
button{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    padding: 4px 8px;
    border: 1.5px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}
button:hover{
    transform: scale(1.05);
}